body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FF9C1E;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="name"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* Sign or log in */
.float-right{
  float: right;
}
#inputPwd{
  margin-bottom: -1px;
}
#to-login:hover , #to-signin:hover{
  text-decoration: none;
  cursor: pointer;
}
/* at the begining 登录 */
#to-signin , #login , #inputPwd2{/* */
  display: none;
}
h1{
  font-family: Consolas;
  margin-left: 20px;
}
h2{
  font-family: Consolas;
  font-size: 40px;
}
label{
  font-family: Consolas;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}